* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    background-color: var(--body-bg-color);
    width: 100%;
    height: 100vh;
    position: relative;
}

.image-background img {
    position: absolute;
    width: 60%;
    height: 100vh;
    right: 0;
    top: 0;
}

header img{
    margin: 50px 0 92px 30px;
}

.text-container {
    padding: 0 0 50px 36px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: var(--title-color);
    font-size: 24px;
    margin-bottom: 8.56px;
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 9px;
}

h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: var(--form-color);
}

form {
    color: var(--form-color);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin: 0 36px 50px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 17px;
}

fieldset {
    border: none;
    position: relative;
}

input {
    border-left: 5px solid var(--title-color);
    border-top: none;
    border-right: none;
    border-bottom: none;
    display: inline;
    height: 48px;
    width: 798px;
    padding-left: 20px;
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

button {
    border: none;
    position: absolute;
    background-color: var(--bg-button-color);
    cursor: pointer;
}

button img {
    padding-top: 13.5px;
    padding-bottom: 7.5px;;
    padding-left: 9.5px;
    padding-right: 11.5px;
}


a {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    margin-left: 36px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: var(--bg-button-color);
}

.readFirst {
    position: relative;
}

.readFirst img {
    position: absolute;
    top: -5px;
    left: 140px;
}