* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    background-color: var(--body-bg-color);    
}

header {
    margin: 50px 0 92px 30px;
}

.text-container {
    padding: 0 0 50px 36px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: var(--title-color);
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: var(--text-color);
}

h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: var(--form-color);
}

form {
    color: var(--form-color);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin: 0 36px 50px;
}

fieldset {
    border: none;
}

.green-container {
    display: block;
    background-color: var(--title-color);
    height: 48px;
    width: 5px;
}

input {
    display: inline;
    height: 48px;
    width: 750px;
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

button {
    background-color: var(--bg-button-color);
}


a {
    margin-left: 36px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: var(--bg-button-color);
}