* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 126px;
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid var(--purple);
    width: 213px;
    height: 213px;
    margin: auto;
    position: relative;
}

.profile-picture img{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 4.5px;
}

header a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: var(--purple);
}

.link-container {
    text-align: center;
    margin: 33px 44px;
}

.link-container li {
    display: flex;
    height: 49px;
    max-width: 326px;
    list-style-type: none;
    border: 2px solid var(--purple);
    border-radius: 4px;
    margin: 0 auto 16px;
    align-items: center;
    justify-content: center;
    
}

.link-container a {
    color: var(--purple);
    text-decoration: none;
}

.social-midia {
    text-align: center;
    margin-top: 68px;
}

.social-midia li {
    display: inline;
    margin: 0 14.5px;
}