* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: var(--body-bg-color);
}

/* PROFILE CONTAINER CONFIGS */

.profile-container {
    height: 292px;
    width: 348px;
    background-color: var(--bg-cards);
    margin: 40px auto 0 40px;
    border-radius: 20px;
}

.profile-container img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid #00FF00;
    margin: 32px 110px 30px ;
}

.profile-container h2 {
    color: var(--text-color);
    font-size: 23px;
    text-align: center;
}

.profile-container h3 {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 13px;
    text-align: center;
}

/* LINKS CONTAINER CONFIGS */

.links-container {
    height: 348px;
    width: 348px;
    background-color: var(--bg-cards);
    margin: 30px auto 0 40px;
    border-radius: 20px;
}

.links-container ul {
    margin-top: 30px;
    margin-left: 40px;
    padding-top: 30px;
}

.links-container li {
    display: flex;
    font-size: 13px;
    list-style-type: none;
    color: var(--text-color);
    align-items: center;
    margin-bottom: 20px;
}  

.links-container li img {
    padding-right: 20px;
}